<!doctype html5>
<html>
	<head>
		<title>Labos 2 - long polling</title>
	</head>
	<body>
		<h1>Labos 2 - long polling</h1>

		<div>
			<input type="radio" id="a" name="person" value="a" checked>
			<label for="a">Person a</label>

			<input type="radio" id="b" name="person" value="b">
			<label for="b">Person b</label>
			
			<input onclick="checkUpdates()" type="button" value="start"/>
		</div>

		<input type="text" id="msg" placeholder="message to send"/>
		<input onclick="sendMessage()" type="button" id="gumb" value="send"/>

		<ul id="messages">
		</ul>
	</body>

	<script>

	function whoami() {
		if (document.getElementById('a').checked) {return "a";} else {return "b"}
	}
	function other(me) {
		if (me == "a") {
			return "b";
		} else {
			return "a";
		}
	}

	var lastMessage = "";
	function checkUpdates() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/longpoll/'+other(whoami()));
		xhr.onload = function() {
			if (this.status == 200) {
				if(this.response != "" && this.response != lastMessage){
					messages = document.getElementById("messages");
					var message = document.createElement('li');
					message.appendChild(document.createTextNode(this.response));
					messages.appendChild(message);
					lastMessage = this.response;
				}
			} else {alert("greska");};

			checkUpdates();
		};
		xhr.send();

	};

	function sendMessage(){
		var message = document.getElementById("msg").value;
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/send/'+whoami()+"?message=" + encodeURIComponent(message));
		xhr.send();

	};
	</script>
</html>
