.map-div{
    height: 700px;
}

.text-below-marker {
    border: none;
    min-width: 30px;
}

.table{
    width: 100%;
    cellspacing: 0;
    cellpadding: 0;
    border: 0;
    bgcolor: #F2F2F2;
}

br{
    height: 10px;
}